<ion-view>
	
	<ion-content class="has-header has-subheader gris" ng-controller="changer">
 
		<div class="row">
			<h5 class="titre">Conseiller Client Particulier</h5>
		</div>
		
		<div class="row row-center">
		
			<div class="col divimg">
				<img class="imgcmne" src="img/imgAnnonce.png">
			</div>
			
		</div>
		
		<div class="divDetOffre">
			<div class="row">
				<a onclick="masquer_div('voirDetail','barre');"><img class="icon-Socmne" src="img/detail-button.png" /></a>
				<h5 class="detailOffre">Détails de l'offre</h5>
			</div>
			
			<hr id="barre"/>
			
			<div id="voirDetail">
			   Mission Principale </br>
			   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras erat lorem, tincidunt eu porta posuere, volutpat in sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque sit amet consectetur ligula, ac ullamcorper magna. Sed mi massa, pretium id enim quis, feugiat aliquet mi. Phasellus pharetra ex eu magna posuere suscipit. Integer dignissim dictum ante. Morbi lacinia enim id ante faucibus, sollicitudin suscipit magna posuere.</br></br>
			   Etiam quis mauris vel sapien tempus molestie sit amet vel libero. In tempor viverra mauris, nec pulvinar magna laoreet id. Sed cursus libero turpis, nec pellentesque ante lacinia vel. Vivamus vestibulum, lacus ac ornare fringilla, tellus tellus semper odio, at gravida sapien leo eu lorem. Cras rutrum dolor nec nunc luctus, porttitor tristique nibh consequat. Vivamus pharetra nunc suscipit fermentum fringilla. Morbi arcu velit, tincidunt ultricies odio ut, mattis vehicula neque. Duis in arcu eros. Morbi consequat auctor metus, eget blandit elit hendrerit et. Quisque a neque nulla. Nullam in mauris euismod, porta neque at, lobortis nisi. Proin nec metus congue, faucibus arcu sed, pharetra nisi. Nullam faucibus, nisl id condimentum ultricies, nulla metus tempor diam, et venenatis dui ex sed massa. Donec mattis bibendum nunc, at gravida ipsum malesuada vitae. In nec velit sit amet lorem ullamcorper accumsan. Nulla elit lectus, finibus a sapien ac, euismod vehicula justo.
			</div>
			
			<div class="row">

				<a class="lienOption" href="#">
					
					<div class="optionAcc">
						<img class="icon-Socmne imgNonActif" src="img/sauvgarde-button.png" />
						<img class="icon-Socmne imgActif" src="img/sauvgarde-butto-active.png" />
						<p>Sauvegarder</p>
					</div>
				</a>
				
				<a class="lienOption" href="#">
					<div class="optionAcc">
						<img class="icon-Socmne imgNonActif" src="img/partage-button.png" />
						<img class="icon-Socmne imgActif" src="img/partage-button-active.png" />
						<p>Partager</p>
					</div>
				</a>
				
				<a class="lienOption" href="#/postuler">
					
					<div class="optionAcc">
						<img class="icon-Socmne imgNonActif" src="img/postuler-button.png" />
						<img class="icon-Socmne imgActif" src="img/postuler-button-active.png" />
						<p>Postuler</p>
					</div>
				</a>
				
			</div>
		
		</div>
		
		<div class="row ">
		
			<div class="col col-10">
			</div>
			
			<div class="col col-80">
				<div class="button-bar" ng-class="class">
				  <a class="button button-small barBoutton {{ class.class1 }}" ng-click="changeClass()" onclick="afficherdiv2('div4','div5');">Offres similaires</a>
				  <a class="button button-small barBoutton {{ class.class2 }}" ng-click="changeClass()" onclick="afficherdiv2('div5','div4');"> Offres autour de moi</a>
				</div>
			</div>
			
			<div class="col col-10">
			</div>
			
		</div> 
		
		<ion-scroll direction="x" class="noScroll" id="div4" scrollbar-x="false">
		
            <div class="row">
			
                <div class="divOffre col col-75"><a class="lienAnnonce">
                    <div class="row">
                        <div class="col col-90"><p>Conseiller Client Particulier</br><span class="opaGris">Poste basé à Lille</span></p></div>
						<div class="col"><i class="icon ion-chevron-right opaGris"></i></div>
					</div>	</a>
                </div>
				
				<div class="divOffre col col-75">
                    <div class="row">
                        <div class="col col-90"><p>Conseiller Gestion</br><span class="opaGris">Poste basé à Lens</span></p></div>
						<div class="col"><i class="icon ion-chevron-right opaGris"></i></div>
                    </div>
                </div>
				
            </div>
			
        </ion-scroll>
		
		<ion-scroll direction="x" class="noScroll" id="div5" scrollbar-x="false">
		
            <div class="row">
			
                <div class="divOffre col col-75"><a class="lienAnnonce">
                    <div class="row">
                        <div class="col col-90"><p>Conseiller (autour de moi)</br><span class="opaGris">Poste basé à Lille</span></p></div>
						<div class="col"><i class="icon ion-chevron-right opaGris"></i></div>
					</div>	</a>
                </div>
				
				<div class="divOffre col col-75">
                    <div class="row">
                        <div class="col col-90"><p>Conseiller (autour de moi)</br><span class="opaGris">Poste basé à Lens</span></p></div>
						<div class="col"><i class="icon ion-chevron-right opaGris"></i></div>
                    </div>
                </div>
				
            </div>
			
        </ion-scroll>

		<div class="row">
			<h5 class="travCmne">Travailler au Crédit Mutuel Nord Europe</h5>
		</div>

	</ion-content>
	
</ion-view>
