<ion-view class="title" view-title="Postuler">


<ion-content class="has-header SOCMNE-home" >
		
	<div class="row">
		<div class="col col-80 col-offset-20"><p class="text-title">Je postule à l'offre de</p></div>
	</div>
	<div class="row">
		<div class="col col-75 col-offset-10"><p class="poste" >{Description longue du dit poste} à {ville}</p></div>
	</div>	
	
	<div class="card connexion-card">
		<button class="button button-other-connexion" style="text-transform:uppercase" ng-click="" >ou en créant mon profil sojobs</button>
		<div class="row">
			<div class="col col-80 column-connexion"><p class="text-title-link">Avec mon profil linkedin</p></div>
		</div>
		<div class="row">
			<div class="col col-80 column-connexion">
			<label class="item item-input item-input-connexion">
				<input type="text" placeholder="Identifiant">
			</label>
			</div>
			</div>
		<div class="row">
		
			<div class="col col-80  column-connexion">
			<label class="item item-input item-input-connexion">
				<input class="text-title-input" type="password" placeholder="Mot de passe">
			</label>
			</div>
			</div>
		<div class="row">
			<div class="col col-80 column-connexion"><button class="button button-block validation_button" style="text-transform:uppercase" ng-click="" > Valider </button></div>
		</div>
		</div>
	
	<p class="text-info-title">Créer ou importer un profil: pour quoi faire ?</p>
	
	<ul class="my-nav">
	
		<li><span>Gagnez du temps ! Importez directement vos informations linkedin* pour créer votre profil !</span></li>
		<li><span>Sinon complétez le formulaire et créez votre profil SoJobs via l'application</span></li>
		<li><span>Utilisez-le ensuite pour postuler à nos offres, les sauvgarder et suivre votre parcours</span></li>
		
	</ul>

	
	<p class="star"> *: les données collectées ne sont pas exploitées..</p>	
	
	</ion-content>

</ion-view>